.hero-slider {
  position: relative;
  overflow: hidden;
}

.hero-slide {
  display: flex;
  align-items: center;
  min-height: 660px;

  background-size: cover;

  /* matches Venia hero height */

  padding: 40px;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

/* stylelint-disable-next-line selector-class-pattern */
.hero-slide__content {
  max-width: 480px;
  color: #111;
}

.hero-slide h2 {
  font-size: clamp(1.75rem, 4vw, 3rem);
  margin: 0 0 0.75rem;
}

.hero-slide p {
  margin: 0 0 1.25rem;
}

.hero-slide a {
  font-weight: 600;
  text-decoration: underline;
}

/* optional: tweak Swiper bullets */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.35;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.shop-link {
  align-items: center;
  background-color: blue;
  border: 2px solid blue;
    border-radius: 1.25rem;
    color: white !important;
    display: inline-flex;
    font-size: 14px ;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    letter-spacing: 0.25px;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
    min-width: 12rem;
    text-decoration: none;
    text-transform: uppercase;
}